<!DOCTYPE html>
<html>
<title>NPM Trends</title>

<head>
	<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='css/main.css'>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img alt="npm-trends" src="img/npm-trends.png">
				</a>
				<a class="navbar-brand" href="#">
					<iframe src="http://nodeknockout.com/iframe/farhadi" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" method="get">
					<div class="input-group">
						<input name="keyword" type="text" class="form-control" placeholder="Filter by keyword">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Filter</button>
						</span>
					</div>
					<!-- /input-group -->
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h1>NPM Trends</h1>
			<h2>Discover top and trending node.js packages</h2>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-6">
				<h2>Trending Packages</h2>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#trending-day" aria-controls=trending- "day" role="tab" data-toggle="tab">Last Day</a></li>
					<li role="presentation"><a href="#trending-week" aria-controls="trending-week" role="tab" data-toggle="tab">Last Week</a></li>
					<li role="presentation"><a href="#trending-month" aria-controls="trending-month" role="tab" data-toggle="tab">Last Month</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="trending-day">
						<% trendings.day.forEach(function(pkg) { %>
						<a data-toggle="tooltip" title="<%=pkg.description%>" class="keyword" href="https://npmjs.org/package/<%=pkg._id%>">
							<button class="btn btn-danger" type="button">
								<%=pkg._id%>
								<span class="badge">
									<%=pkg.downloads.day%>
								</span>
							</button>
						</a>
						<% }); %>
					</div>
					<div role="tabpanel" class="tab-pane" id="trending-week">
						<% trendings.week.forEach(function(pkg) { %>
						<a data-toggle="tooltip" title="<%=pkg.description%>" class="keyword" href="https://npmjs.org/package/<%=pkg._id%>">
							<button class="btn btn-danger" type="button">
								<%=pkg._id%>
								<span class="badge">
									<%=pkg.downloads.week%>
								</span>
							</button>
						</a>
						<% }); %>
					</div>
					<div role="tabpanel" class="tab-pane" id="trending-month">
						<% trendings.month.forEach(function(pkg) { %>
						<a data-toggle="tooltip" title="<%=pkg.description%>" class="keyword" href="https://npmjs.org/package/<%=pkg._id%>">
							<button class="btn btn-danger" type="button">
								<%=pkg._id%>
								<span class="badge">
									<%=pkg.downloads.month%>
								</span>
							</button>
						</a>
						<% }); %>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<h2>Top Downloads</h2>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#downloads-day" aria-controls="downloads-day" role="tab" data-toggle="tab">Last Day</a></li>
					<li role="presentation"><a href="#downloads-week" aria-controls="downloads-week" role="tab" data-toggle="tab">Last Week</a></li>
					<li role="presentation"><a href="#downloads-month" aria-controls="downloads-month" role="tab" data-toggle="tab">Last Month</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="downloads-day">
						<% downloads.day.forEach(function(pkg) { %>
						<a data-toggle="tooltip" title="<%=pkg.description%>" class="keyword" href="https://npmjs.org/package/<%=pkg._id%>">
							<button class="btn btn-primary" type="button">
								<%=pkg._id%>
								<span class="badge">
									<%=pkg.downloads.day%>
								</span>
							</button>
						</a>
						<% }); %>
					</div>
					<div role="tabpanel" class="tab-pane" id="downloads-week">
						<% downloads.week.forEach(function(pkg) { %>
						<a data-toggle="tooltip" title="<%=pkg.description%>" class="keyword" href="https://npmjs.org/package/<%=pkg._id%>">
							<button class="btn btn-primary" type="button">
								<%=pkg._id%>
								<span class="badge">
									<%=pkg.downloads.week%>
								</span>
							</button>
						</a>
						<% }); %>
					</div>
					<div role="tabpanel" class="tab-pane" id="downloads-month">
						<% downloads.month.forEach(function(pkg) { %>
						<a data-toggle="tooltip" title="<%=pkg.description%>" class="keyword" href="https://npmjs.org/package/<%=pkg._id%>">
							<button class="btn btn-primary" type="button">
								<%=pkg._id%>
								<span class="badge">
									<%=pkg.downloads.month%>
								</span>
							</button>
						</a>
						<% }); %>
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Most Depended Upon</h2>
				<% depended.forEach(function(pkg) { %>
				<a data-toggle="tooltip" title="<%=pkg.description%>" class="keyword" href="https://npmjs.org/package/<%=pkg._id%>">
					<button class="btn btn-success" type="button">
						<%=pkg._id%>
						<span class="badge">
							<%=pkg.dependents%>
						</span>
					</button>
				</a>
				<% }); %>
			</div>
			<div class="col-md-6">
				<h2>Top Keywords</h2>
				<% keywords.forEach(function(keyword) { %>
				<a class="keyword" href="/?keyword=<%=keyword._id%>">
					<button class="btn btn-info" type="button">
						<%=keyword._id%>
						<span class="badge">
							<%=keyword.count%>
						</span>
					</button>
				</a>
				<% }); %>
			</div>
		</div>

		<hr>

		<footer>
			<p>&copy; Ali Farhadi</p>
		</footer>
	</div>
	<!-- /container -->
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>

</body>

</html>
