.navbar-brand {
	padding: 10px;
	line-height: 65px;
    height: 65px;
}
.navbar-form {
	padding: 7px 0;
}
.navbar-brand>img {
	/*padding: 0px;*/
}
.jumbotron {
	padding: 70px 0 20px;
}
.jumbotron h1, .jumbotron h2 {
    text-align: center;
}
